node_modules
.python_deps
.DS_Store
dist
dist-ssr
*.local
.env
.nitro
.tanstack
.wrangler
.output
.vinxi
__unconfig*
todos.json


# Python cache
__pycache__/
*.py[cod]
*$py.class

# Pytest/cache
.pytest_cache/